this is demotext component.

<!-- <sly data-sly-include="/apps/learning/components/content/aemdemotext/aemdemotext.html"></sly>


<div data-sly-resource="${'etouchmultiple' @resourceType = '/apps/learning/components/content/aemdemomultifield'}"></div>
  



${properties.text}
${properties.sling:resourceType} -->




<form>
  <label for="formName">Form name:</label><br>
  <input type="text" id="formName" name="formName"><br>
  <label for="formState">Form State :</label><br>
  <input type="text" id="formState" name="formState"><br><br>
  <input type="submit" id ="submitform" value="Submit">
</form> 

      <div id="formresult"> 

      </div>


